[hyoo_js_perf_tools] {
	flex-grow: 0;
}

[hyoo_js_perf_body] {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0;
}

[hyoo_js_perf_common] {
	flex-direction: column;
	flex: 0 0 auto;
	min-width: 20rem;
}

[hyoo_js_perf_hint] {
	padding: var(--mol_gap_block);
}

[hyoo_js_perf_prefix] {
	margin: .75rem;
}

[hyoo_js_perf_postfix] {
	margin: .75rem;
}

[hyoo_js_perf_cases_pane] {
	flex: 1000 0 auto;
	min-width: 46rem;
}

[hyoo_js_perf_cases] {
	display: table;
	border-spacing: .75rem;
	background: var(--mol_theme_back);
}

[hyoo_js_perf_case] {
	display: table-row;
	flex: 0 1 auto;
}

[hyoo_js_perf_case_prefix] ,
[hyoo_js_perf_case_source] {
	display: table-cell;
	min-width: 14rem;
	vertical-align: top;
}

[hyoo_js_perf_case_title] {
	flex-grow: 1000;
}

[hyoo_js_perf_case_eval_labeler] {
	width: 28rem;
}
[hyoo_js_perf_case_result_rows] {
	width: 28rem;
	display: table-cell;
	height: 5rem;
}

[hyoo_js_perf_case_eval_labeler_trigger] {
	flex-grow: 0;
}

[hyoo_js_perf_case_result] {
	padding: .25rem .75rem .25rem;
	flex-direction: column;
}

[hyoo_js_perf_case_result] > * {
	display: flex;
}

[hyoo_js_perf_case_result_stats] {
	display: flex;
	white-space: pre;
	justify-content: space-between;
}

[hyoo_js_perf_case_result_stats] > * {
	word-break: keep-all;
	white-space: nowrap;
	margin: 0 .5rem;
}

[hyoo_js_perf_case_result_perf],
[hyoo_js_perf_case_result_memory] {
	flex-direction: column;
}

[hyoo_js_perf_case_result_frequency],
[hyoo_js_perf_case_result_memory_per_iteration] {
	text-shadow: 0 0;
}

[hyoo_js_perf_case_result_error] {
	color: crimson;
	text-shadow: 0 0;
}

[hyoo_js_perf_case_result_portion] {
	gap: .75rem;
}

[hyoo_js_perf_case_result] [mol_portion] {
	flex: 1 1 50%;
	width: auto;
}

[hyoo_js_perf_case_result]:nth-child(1) [mol_portion_indicator] {
	background-color: royalblue;
}

[hyoo_js_perf_case_result]:nth-child(2) [mol_portion_indicator] {
	background-color: orange;
}

[hyoo_js_perf_case_result]:nth-child(1) [hyoo_js_perf_case_result_frequency],
[hyoo_js_perf_case_result]:nth-child(1) [hyoo_js_perf_case_result_memory_per_iteration] {
	color: royalblue;
}

[hyoo_js_perf_case_result]:nth-child(2) [hyoo_js_perf_case_result_frequency],
[hyoo_js_perf_case_result]:nth-child(2) [hyoo_js_perf_case_result_memory_per_iteration] {
	color: orange;
}
