[hyoo_js_perf_body] {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: .75rem;
}

[hyoo_js_perf_common] {
	flex-direction: column;
	flex: 1000 0 auto;
	min-width: 20rem;
}

[hyoo_js_perf_prefix] {
	flex: 1 0 auto;
	min-height: 8.5rem;
}

[hyoo_js_perf_postfix] {
	flex: 1 0 auto;
	min-height: 8.5rem;
}

[hyoo_js_perf_cases_pane] {
	flex: 1000 0 auto;
	min-width: 46rem;
}

[hyoo_js_perf_cases] {
	display: table;
}

[hyoo_js_perf_case] {
	display: table-row;
	flex: 0 1 auto;
}

[hyoo_js_perf_case_prefix] ,
[hyoo_js_perf_case_source] {
	display: table-cell;
	height: 8.5rem;
	min-width: 14rem;
}

[hyoo_js_perf_case_result_rows] {
	display: table-cell;
	padding: .75rem;
	width: 25rem;
}

[hyoo_js_perf_case_result] {
	width: 24rem;
	padding: .5rem .75rem;
	flex-direction: column;
}

[hyoo_js_perf_case_result] > * {
	display: flex;
}

[hyoo_js_perf_case_result_stats] {
	display: flex;
	white-space: nowrap;
}

[hyoo_js_perf_case_result_stats] > * {
	word-break: keep-all;
	white-space: nowrap;
	margin: 0 .5rem;
}
[hyoo_js_perf_case_result_frequency] {
	font-weight: bolder;
}

[hyoo_js_perf_case_result_portion] {
	flex: none;
	width: auto;
}

[hyoo_js_perf_case_result_error] {
	padding: .5rem 1rem;;
	background: var(--mol_skin_bad);
	color: var(--mol_skin_bad_text);
}

[hyoo_js_perf_case_result]:nth-child(1) [hyoo_js_perf_case_result_portion_indicator] {
	background-color: royalblue;
}

[hyoo_js_perf_case_result]:nth-child(2) [hyoo_js_perf_case_result_portion_indicator] {
	background-color: orange;
}
