[hyoo_js_perf_case_result] {
	padding: .5rem .75rem .25rem;
	flex-direction: column;
	flex: 1 1 24rem;
}

[hyoo_js_perf_case_result] > * {
	display: flex;
}

[hyoo_js_perf_case_result_stats] {
	display: flex;
	white-space: pre;
	justify-content: space-between;
}

[hyoo_js_perf_case_result_stats] > * {
	word-break: keep-all;
	white-space: nowrap;
	/* margin: 0 .5rem; */
}

[hyoo_js_perf_case_result_stats_main],
[hyoo_js_perf_case_result_stats_mem] {
	display: contents;
}

[hyoo_js_perf_case_result_perf],
[hyoo_js_perf_case_result_memory] {
	flex-direction: column;
}

[hyoo_js_perf_case_result_frequency],
[hyoo_js_perf_case_result_memory_per_iteration] {
	text-shadow: 0 0;
}

[hyoo_js_perf_case_result_error] {
	color: crimson;
	text-shadow: 0 0;
}

[hyoo_js_perf_case_result_portions] {
	gap: .75rem;
}

[hyoo_js_perf_case_result] [mol_portion] {
	flex: 1 1 50%;
	width: auto;
}

[hyoo_js_perf_case_result]:nth-child(1) [mol_portion_indicator] {
	background-color: dimgray;
}

[hyoo_js_perf_case_result]:nth-child(2) [mol_portion_indicator] {
	background-color: royalblue;
}

[hyoo_js_perf_case_result]:nth-child(3) [mol_portion_indicator] {
	background-color: orange;
}

[hyoo_js_perf_case_result]:nth-child(2) [hyoo_js_perf_case_result_frequency],
[hyoo_js_perf_case_result]:nth-child(2) [hyoo_js_perf_case_result_memory_per_iteration] {
	color: royalblue;
}

[hyoo_js_perf_case_result]:nth-child(3) [hyoo_js_perf_case_result_frequency],
[hyoo_js_perf_case_result]:nth-child(3) [hyoo_js_perf_case_result_memory_per_iteration] {
	color: orange;
}
